@import "compass/css3";
@import "compass/utilities/sprites";
@import "sprite/*.png";
$textcolor: #000;
$bgcolor: #fff;
$contentcolor: #57565b;
$neon: #ff6000;

$verdana: 'Verdana', sans-serif;
$arial: 'Arial', sans-serif;
$exo2: 'Exo 2', sans-serif;
$open: 'Open Sans', sans-serif;
$tredusentMS: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;

@mixin rotate-crop($rad) {
	-moz-transform: rotate($rad);
	-ms-transform: rotate($rad);
	-webkit-transform: rotate($rad);
	-o-transform: rotate($rad);
	transform: rotate($rad);
}
html, body{
	color: $textcolor; 
	background-color: $bgcolor;
	height: 100%; 
}
.wrapper{
	min-height: 100%;
}
h1,h3,h4,h5{
	color: $textcolor;
	font-family: $exo2;
}
a:focus{
	outline: none;
	color: inherit;
	text-decoration: none;
}
button:focus{
	outline: none;
}
.neoncolor, .neoncolor a{
	color: $neon !important;
}
.container, header, footer,.billboard{
	min-width: 320px;
}
header{
	// padding-bottom: 15px;
	position: relative;
	z-index: 100;
	background: #fff;
	.header-logo{
		margin-top: 15px;
		margin-bottom: 15px;
		float: left;
	}
	h2{
		display: inline-block;
		margin: 25px 0 0;
		float: left;
		margin-left: 30px;
		text-transform: uppercase;
		color: #6c6d6f;
		font-size: 14px;
		font-family: 'Open Sans', sans-serif;
		position: relative;
		top: 2px;
		font-weight: 300;
	}
	.header-config{
		float: right;
		text-transform: uppercase;
		color: #1b3766;
		position: relative;
		font-family: "Trebuchet MS";
		font-weight: 400;
		width: 183px;
		text-align: center;
		@include transition(all 400ms);
		.car{
			margin-left: 10px;
			display: inline-block;
			width: 14px;
			height: 10px;
			background: url(../img/sprite_arrow.png) no-repeat;
			background-position: left -10px;
		}
		&:hover{
			background: rgba(0,0,0,.39);
			>a{
				color: #fff;
			}
			.car{
				background-position: left top;
			}
		}
		a{
			color: inherit;
			line-height: 75px;
			display: inline-block;
			@include transition(all 300ms);
			&:hover{
				text-decoration: none;
			} 
		}
		ul{
			text-align: left;
			display: none;
			list-style: none;
			padding-left: 0;
			position: absolute;
			bottom: -139px;
			left: 0;
			background: rgba(0,0,0,.39);
			width: 183px;
			
			li{
				text-transform: uppercase;
				a{
					display: block;
					line-height: 43px;
					padding-left: 30px;
					color: #1e86bb;
					&:hover{
						background: #fff;
						color: #1e86bb;
						text-decoration: none;
					}
				}
			}
		}
	}
	.col-md-12{
		overflow: visible;
	}
	.navbar-toggle{
		position: absolute;
		top: 0;
		right: 0;
		margin-top: 0;
		margin-right: 0;
		padding-right: 15px;
		.icon-bar{
			height: 6px;
			width: 34px;
			margin-bottom: 4px;
			background: #1b3766;
			border-radius: 6px;
		}
	}
}
.clear{
	clear: both;
}
.billboard, .quatest{
	background: #fff no-repeat bottom right;
	background-size: cover;
}
.billboard{
	min-height: 290px;
	position: relative;
	.navbar{
		border: 0;
		margin-bottom: 40px;
		.navbar-collapse.in{
			overflow-y:visible;
		}
	}
	.container{
		
	}
	.nav .open>a, .nav .open>a:hover, .nav .open>a:focus, .nav .active.open>a{
		color: #fff;
		background: #1b3766;
		border-color: #264d8f;
	}
	.nav>li>a:focus{
		background: transparent;
	}
	.nav{
		height: 75px;
		text-transform: uppercase;
		background: rgba(0,0,0,.39);
		font-family: "Trebuchet MS";
		.car{
			margin-left: 10px;
			display: inline-block;
			width: 14px;
			height: 10px;
			background: url(../img/sprite_arrow.png) no-repeat;
			}
		>li{
			>a{
				padding: 0 13.5px;
				line-height: 73px;
				color: #fff;
				font-size: 12px;
				font-weight: 700;
				border-top: 2px solid transparent;
			}
			&.active{
				.car{
					background-position: left -20px;
				}
				&:hover .car{
					background-position: left top;
				}
				>a{
					background: #ffffff;
					color: #000;
					border-color: #a9acbb;
					&:hover{
						border-color: #264d8f;
						color: #fff;
						background: #1b3766;
					}
				}
				
			}
		}
		.dropdown-menu{
			min-width: 100%;
			padding-top: 15px;
			padding-bottom: 15px;
			background: rgba(27,55,102,.90);
			border: 0;
			border-radius: 0;
			box-shadow: none;
			>li{
				>a{
					text-transform: none;
					line-height: 25px;
					color: #fff;
					font-size: 16px;
					font-weight: 400;
					background: transparent;
					&:hover{
						background: #1b3766;
					}
				}
			}
			
		}
		a{
			@include box-sizing(border-box);
			@include transition(background 300ms, color 300ms);
			&:hover{
				background: #1b3766;
				border-color: #264d8f;
			}
		}
	}
	.breadcrumbs{
		font-family: $arial;
		font-size: 12px;
		ul{
			list-style: none;
			padding-left: 0;
			color: #fff;
			li{
				margin-right: 13px;
				display: inline-block;
				&:after{
					content: '';
					display: inline-block;
					width: 22px;
					margin-left: 10px;
					height: 5px;
					position: relative;
					top: -1px;
					@include sprite-sprite(bread_arrow);
				}
				a{
					color: inherit;
					text-decoration: underline;
					&:hover{
						text-decoration: none;
					}
				}
				&:last-child{
					&:after{
						display: none;
					}
				}
			}
		}
	}
	h1{
		max-width: 790px;
		padding-bottom: 15px;
		position: relative;
		color: #fff;
		font-size: 30px;
		margin-bottom: 50px;
		border-bottom: 1px solid rgba(255,255,255,.45);
		&:after{
			content: '';
			position:absolute;
			height: 1px;
			left: 0;
			right: 0;
			bottom: 3px;
			background: rgba(255,255,255,.45);
		}
		&+.left-nav{
			margin-bottom: 30px;
		}
	}
	&.nonormalh{
		h1{
			max-width: 100%;
			text-align: center;
			font-family: $open;
			text-transform: uppercase;
			font-size: 36px;
			font-weight: 400;
			text-shadow: 0 3px 0 rgba(0, 1, 1, 0.42);
			border: 0;
			margin-bottom: 5px;
			&:after{
				display: none;
			}
		}
	}
	.playarea{
		max-width: 500px;
		position: relative;
		margin: 0 auto 67px;
		height: 405px;
		background: url(../img/play_bg.png) center;
		.play-btn{
			position: absolute;
			width: 41px;
			height: 50px;
			border: 0;
			background: url(../img/play_btn.png) no-repeat left top;
			left: 50%;
			top: 50%;
			margin-left: -17px;
			margin-top: -12px;
			&:hover{
				background-position: left -55px;
				// @include transform(rotate(360deg));
				// @include transition(transform 600ms)
			}
		}
		.main-l{
			position: absolute;
			width: 313px;
			height: 71px;
			text-align: center;
			padding-top: 8px;
			@include transition(transform 300ms);
			background: url(../img/mainl_sprite.png) no-repeat;
			h4{
				color: #1e86bb;
				text-transform: uppercase;
				font-size: 22px;
				margin-bottom: 0;
			}
			span{
				color: #33311f;
				font-family: "Trebuchet MS";
			}
			&:hover{
				text-decoration: none;
			}
		}
		.aquar-l{
			padding-left: 70px;
			text-align: left;
			background-position: left top;
			top: 80px;
			left: -205px;
		}
		.neon-l{
			padding-right: 55px;
			text-align: right;
			background-position: right -74px;
			top: 80px;
			right: -205px;
			h4{
				color: #ff6000;
			}
		}
		.aquam-l{
			padding-top: 83px;
			background-position: left -146px;
			height: 145px;
			width: 225px;
			bottom: -31px;
			left:50%;
			margin-left: -112px;
		}
	}
	.left-nav{
		&~h1{
			margin-bottom: 10px;
		}
		li{
			a{
				color:#fff;
				&:before{
					background: #fff;
				}
			}
		}
	}
}
.billboard-small{
	min-height: 200px;
	h1{
		margin-bottom: 0;
	}
}
.billboard-white{
	color: #000;
	min-height: 200px;
	.breadcrumbs{
		ul{
			li{
				color: #000;
				&:after{
					@include sprite-sprite(bread_arrow_black);
				}
			}
		}
		
	}
	h1{
		color: #000;
		max-width: 700px;
		border-color: #000;
		margin-bottom: 0;
		&:after{
			background: #000;
		}
	}
}
a.fancybox{
	position: relative;
	&:after{
		content: '';
		position: absolute;
		left: 7px;
		right: 7px;
		top: 0;
		bottom: 0;
		opacity: 0;
		background: rgba(0,0,0,.30);
		@include transition(all 300ms)
	}
	&:hover:after{
		opacity: 1;
	}
}
.left-nav{
	list-style: none;
	padding-left: 0;
	max-width: 280px;
	li{
		a{
			width:100%;
			display:block;
			padding:11px 28px;
			font-family: $tredusentMS;
			font-weight: bold;
			border-radius: 4px;
			line-height: 18px;
			font-size: 12px;
			text-transform: uppercase;
			color:#1b3766;
			text-decoration: none !important;
			position: relative;
			@include transition(all 300ms);
			&:before{
				position: absolute;
				content:'';
				height:4px;
				width:4px;
				background:#1b3766;
				left: 19px;
				top: 50%;
				margin-top: -2px;						
			}
		}
		&:hover a, &.active a{
			color:#fff;
			background: #1b3766;
		}
		&:hover a:before, &.active a:before{
			background:#fff;
		}				
	}
}

.main-content{
	padding-top: 20px;
	color: $contentcolor;
	font-size: 14px;
	font-family: $verdana;
	.col-md-7{
		h5{
			margin-top: 10px;
		}
	}
	h3{
		font-size: 30px;
		margin-top: 0;
	}
	h4{
		font-size: 18px;
		margin-bottom: 20px;
	}
	h5{
		font-family: $verdana;
		font-weight: 700;
		line-height: 20px;
		margin-bottom: 20px;
		margin-top: 0;
		&+ul{
			li{
				padding-left: 40px !important;
				&:before{
					left: 7px !important;
				}
			}
		}
		&.list{
			color: $contentcolor;
		}
	}
	.content-block{
		&.stratery{
			img{
				width:100%;
			}
		}
		&:last-child{
			padding-bottom: 10px;
		}
		p{
			// &+blockquote{
			// 	margin-top: 60px;
			// 	margin-bottom: 45px;
			// }
		}
		blockquote{
			border-color: #000964;
			background: #ecf0f1;
			font-family: $arial;
			color: #57565b;
			font-size: 18px;
			margin-bottom: 10px;
			margin-top: 20px;
			line-height: 1.42;
			padding:15px 25px;
			&+h3{
				margin-top: 20px;
			}
			&:first-child{
				margin-top: 0;
			}
			p{
				line-height: 1.42;
				strong{
					color: #57565b;
				}
			}
			p:last-child, ul:last-child, ol:last-child{
				margin-bottom: 0;
			}
		}
		&:last-child{
			.cont-wrap{
				border: 0;
			}
		}
		.cont-wrap{
			padding-top: 20px;
			padding-bottom: 20px;
			border-bottom: 1px solid #bdc3c7;
			>h4{
				margin-top: 20px;
				&:first-child{
					margin-top: 0;
				}
			}
			img{
				width: 100%;
				display: block;
				margin: 10px auto;
			}
			ul{
				margin-top: 10px;
			}
			.col-sm-6{
				blockquote{
					width: 90%;
					margin-top: 10px;
					margin-bottom: 20px;
				}
			}
			.equip-blocks{
				margin-top: 10px;
				img{
					margin: 0 0 13px;
					width: auto;
				}
				p{
					margin-bottom: 30px;
				}
			}
			#map-canvas{
				width: 100%;
				height: 630px;
				position: relative;
				z-index: 900;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				.mapfull{
					width: 38px;
					height: 38px;
					border: 0;
					position: absolute;
					top: 20px;
					right: 20px;
					@include sprite-sprite(mapfull);
					z-index: 1000;
				}
			}
			.sreda-block{
				margin-bottom: 30px;
				.icon-wrap{
					min-width: 37px;
					float: left;
				}
				img{
					width: auto;
					margin: 0;
					margin-right: 5px;
					margin-bottom: 1px;
					position: relative;
					top: 3px; 
				}
				h4{
					margin-top: 0;
					margin-bottom: 10px;
					min-height: 30px;

				}
			}
		}
		ul{
			list-style: none;
			padding-left: 0;
			margin-top: 20px;
			li{
				margin-bottom: 17px;
				padding-left: 33px;
				position: relative;
				&:before{
					content: '';
					position: absolute;
					left: 0;
					top: 10px;
					width: 18px;
					height: 4px;
					display: block;
					background: #a9acbb;
				}
			}
			&+h5{
				margin-top: 35px;
			}
		}
		ol{
			padding-left: 23px;
			margin-top: 20px;
			li{
				margin-bottom: 17px;
			}
		}
		p{
			line-height: 20px;
			margin-bottom: 15px;
			// strong{
			// 	color: $textcolor;
			// }
		}
		a{
			text-decoration: underline;
			&:hover{
				text-decoration: none;
			}
		}
		.content-block-parts{
			margin-bottom: 28px;
			&:first-child{
				padding-top: 20px;
			}
			&:last-child{
				margin-bottom: 0;
			}
		}
		.structure{
			h5{
				margin-bottom: 0;
				font-weight: normal;
			}
			h4{
				margin-top: 0;
				&+h5{
					margin-top: 40px;
				}
			}
		}
		.sort{
			margin-bottom: 30px;
			position: relative;
			.select-wrap{
				float: left;
				width: 33.33333%;
				&~a{
					display: table-cell;
					vertical-align: middle;
					height: 42px;
					padding: 0 15px;
					text-align: center;
					width: 66.66666%;
				}
			}
			#sort~.jq-selectbox__select{
				.jq-selectbox__select-text{
					line-height: 40px;		 	
				}
				.jq-selectbox__trigger .jq-selectbox__trigger-arrow{
					@include sprite-sprite(sel-black);
				}
			}
			p{
				margin-bottom: 5px;
				padding: 0 15px;
			}
		}
		.publishing{
			margin-left: -20px;
			margin-right: -20px;
			.new-preview-block{
				padding: 0 20px;
				margin: 8px 0 10px;
				text-decoration: none;
				.date{
					text-decoration: none;
					font-family: $arial;
					display:block;
					font-size: 12px;
					color:#9f9f9f;
				}
				h5{
					text-decoration: none;
					display: block;
					font-weight: bold;
					color: #252525;
				}
				&:hover>h5{
					text-decoration: underline;
				}
			}
			.new-preview-grid-3{
				display: block;
				text-decoration: none;
				padding: 12px 20px 20px;
				border: 1px solid #fff;
				@include transition(all 300ms);
				h5{
					margin-bottom: 0;
					color: #252525;
				}
				.date{
					margin-bottom: 0;
					font-family: $arial;
					display:block;
					font-size: 12px;
					color:#9f9f9f;
				}
				p{
					color: $contentcolor;
					margin-bottom: 0;
				}
				img{
					margin: 3px 0;
				}
				&:hover{
					border: 1px solid #9f9f9f;
				}
			}
			.new-preview-grid-2{
				display: block;
				text-decoration: none;
				padding: 12px 20px 20px;
				border: 1px solid #fff;
				margin-bottom: 15px;
				position: relative;
				@include transition(all 300ms);
				h4,h5{
					margin-bottom: 5px;
					margin-top: 0;
					color: #252525;
				}
				.file{
					position: absolute;
					right: 26px;
					height: 39px;
					width: 30px;
					padding-top: 17px;
					font-size: 12px;
					text-align: center;
					text-decoration: none;
					color: #252525;
					transition: none;
					@include sprite-sprite(file_icon);
					&.pdf{
						@include sprite-sprite(pdf);
						color: #fff;
						&:hover{
							@include sprite-sprite(file_icon);
							color: #ff0000;
						}
					}
					&.ptt{
						@include sprite-sprite(ptt);
						color: #fff;
						&:hover{
							@include sprite-sprite(file_icon);
							color: #ff7e00;
						}
					}
					&.cam{
						@include sprite-sprite(file-cam);
						color: #fff;
					}
				}
				h5{
					margin-bottom: 2px;
				}
				.date{
					margin-bottom: 0;
					font-family: $arial;
					display:block;
					font-size: 12px;
					color:#9f9f9f;
				}
				p{
					color: $contentcolor;
					margin-bottom: 0;
				}
				img{
					margin: 3px 0;
				}
				&:hover{
					border: 1px solid #9f9f9f;
				}
				&.gallery{
					position:relative;
					img{
						position: absolute;
						left: -99999px;
						&:first-child{
							position: static;
							max-width: 100%;
						}
					}
				}
			}			
		}
		ul.pagination{
			margin-bottom: 0;
			margin-top: 30px;
			li{
				float: left;
				padding-left: 0;
				margin: 3px;
				&:before{
					display: none;
				}
				a,span{
					font-family: $arial;
					line-height: 30px;
					text-align: center;
					font-size: 14px;
					color:#9b9b9b;
					height: 31px;
					width: 30px;
					padding: 0;
					background: #f4f4f4;
					border-radius: 2px;
					border: 1px solid #d8d8d8;
					position: relative;
					text-decoration: none;
					@include transition(all 300ms);
					&.dot{
						line-height: 20px;
					}
					&:focus{
						box-shadow: 0 3px 2px #ddd inset;
					}			
				}
				span{
					position: relative;
					line-height: 20px;
				}
				&:hover a,&.active a{
					border:1px solid #444;
					color: #444;					
				}
				&.disabled a{
					cursor: default;
				}
				&.disabled a:hover{
					border: 1px solid #d8d8d8;
					background: #f4f4f4;
					color:#9b9b9b;
				}
				&:first-child a:before,&:first-child span:before{
					position: absolute;
					content:'';
					height:14px;
					width: 10px;
					margin:auto;
					left: 0;
					right: 0;
					bottom: 0;
					top: 0;
					@include sprite-sprite(pag-prev); 
				}
				&:first-child a:hover:before{
					@include sprite-sprite(pag-prev-hover); 
				}
				&:last-child a:before,&:last-child span:before{
					position: absolute;
					content:'';
					height:14px;
					width: 10px;
					margin:auto;
					left: 0;
					right: 0;
					bottom: 0;
					top: 0;
					@include sprite-sprite(pag-next); 
				}
				&:last-child a:hover:before{
					@include sprite-sprite(pag-next-hover); 
				}
			}
		}
	}
	.sidebar{
		h4{
			margin-top: 0;
			margin-bottom: 20px;
	
			&:first-child{
				border: 0;
				padding-top: 0;
			}
		}
		.form-widget{
			padding: 0 15px 0 0;
		}
		.serts{
			margin-left: -7.5px;
			margin-right: -7.5px;
			a{
				padding-left: 7px;
				padding-right: 7px;
				margin-bottom: 5px;
				&:last-child{
					margin-bottom: 0;
					display: block;
					text-align: left;
				}
			}
		}
		.widget{
			margin-bottom: 18px;
			padding-bottom: 20px;
			border-bottom: 1px solid #d4d4d4;
			&:last-child{
				border-bottom: 0;
			}
		}
		a{
			display: inline-block;
			text-decoration: underline;
			&:hover{
				text-decoration: none;
			}
			img{
				width: 100%;
				height: auto;
			}
		}
		&>div{
			margin-bottom: 20px;
		}
		.banners{
			margin-bottom: 30px;
		}
		.banner-block{
			display: block;
			position: relative;
			margin-bottom: 20px;
			&.blue{
				h4{
					color: #1b3766;
					&:after{
						background-position: right top;
					}
				}
			}
			.banner-wrap{
				border-radius: 4px;
				overflow: hidden;
				position: relative;
				max-width: 213px;
				margin-left: auto;
				margin-right: auto;
				&:after{
					content: '';
					position: absolute;
					left: 0;
					right: 0;
					top: 0;
					bottom: 0;
					opacity: 0;
					background: rgba(0,0,0,.30);
					@include transition(all 300ms)
				}
				&:hover:after{
					opacity: 1;
				}
			}
			img{
				width: 100%;
				height: auto;
			}
			h4{
				margin-top: 0;
				position: absolute;
				color: #fff;
				top: 18px;
				left: 32px;
				padding-right: 26px;
				&:after{
					bottom: 1px;
					position: absolute;
					content: '';
					background: url(../img/banner_link.png) no-repeat right bottom;
					height: 11px;
					width: 24px;
				}
			}
		}
		&.bottom-sidebar{
			margin-top: 30px;
			.pages-preview{
				.row{
					margin-left: -10.5px;
					margin-right: -10.5px;
				}
				.page-preview-wrap{
					padding: 10.5px;
					.page-preview{
						min-height: 255px;
						background-position: center center;
						background-size: cover;
						padding: 60px 60px 60px 30px;
						h4{
							z-index: 80;
							position: relative;
							color: #fff;
							margin-top: 0;
							margin-bottom: 10px;
						}
						p{
							z-index: 80;
							position: relative;
							color: #fff;
							margin-bottom: 15px;
							max-width: 500px;
							width: 90%;
						}
						a{
							z-index: 80;
							position: relative;
							color: #fff;
							background: #1b3766;
							text-decoration: none;
							font-weight: bold;
							padding: 7px 30px;
							font-size: 12px;
							&:hover{
								background: #2a559d;
							}
						}				
					}	
				}				
			}
			h4{
				padding-left: 15px;
			}
			.widget{
				border-bottom: none;
				h4{
					padding-left: 0;
				}
				.serts{
					a{
						margin-bottom: 20px;
						display: inline-block;
						&:last-child{
							display: block;
						}
					}					
				}
				.banners{
					margin-bottom: 10px;
					a{
						float: left;
						width: 50%;
						padding: 0 30px;
					}
				}
			}			
		}
		&.left-sidebar{
			padding-top: 25px;
			position: relative;
			&:after{
				right: -14%;
				top: 0;
				position: absolute;
				content:'';
				width: 1px;
				height: 100%;
				background:#ecf0f1;
			}
		}
	}
	&.factory{
		background: #eaeaea;
	    background: -moz-radial-gradient(30px 20px, cover, #fcfcfc, #dcdcdc);
	    background: -webkit-radial-gradient(30px 20px, cover, #fcfcfc, #dcdcdc);
	    background: -o-radial-gradient(30px 20px, cover, #fcfcfc, #dcdcdc);
	    background: -ms-radial-gradient(30px 20px, cover, #fcfcfc, #dcdcdc);
	    background: radial-gradient(30px 20px, cover, #fcfcfc, #dcdcdc);
	}
	.factory-block{
		.section-link{
			position: relative;
			z-index: 51;
			background:transparent;
			border: 0;
			display: inline-block;
			font-size: 18px;
			color: $contentcolor;
			font-family: $exo2;
			font-weight: bold;
			padding: 0 0 2px;
			position: relative;
			text-decoration: none;
			&+.section-link{
				margin-left: 65px;
			}
			&:hover{
				color: $contentcolor*1.3;
			}
			&:after{
				position: absolute;
				content: '';
				height: 1px;
				width: 100%;
				left: 0;
				bottom: 0;
				background: url(../img/a_border.png);
			}
			span{
				font-size: 24px;
			}
		}
		.object{
			z-index: 30;
			overflow: hidden;
			position: relative;
			margin-bottom: 20px;
			svg{
				position: absolute;
			  left: 1.5%;
			  top: 2.5%;
			  width: 99%;
			  height: 99%;
			}
			img{
				width: 100%;
				max-width: 1008px !important;
				z-index: 40;
			}
			.sm-section#s17{
				fill: #162655;
				filter: url(#color-overlay-1);
				&:hover{
					opacity:0.8;
					filter: url(#color-overlay-2);
				}
			}
			.sm-section,.sm-section[data-hov="diss"]{
				opacity: 0.2;
				filter: url(#color-overlay-2);
			}
			.sm-section:hover,.sm-section[data-hov="active"]{
				cursor: pointer;
				opacity: 0.8;
				filter: url(#color-overlay-2);
			}
			.lg-section,.lg-section[data-hov="diss"]{
				opacity: 0.5;
				fill: #162655;
			}
			.lg-section:hover,.lg-section[data-hov="active"]{
				cursor: pointer;
				filter: url(#color-overlay-1);
			}
		}
		&~h4,&~h3{
			text-align: center;
		}
	}
}
.for-footer{
	height: 221px;
}

form{
	color: #000;
	background: #fff;
	>h4{
		padding-top: 22px !important;
		background: #fff;
		padding-bottom: 14px;
		padding-left: 20px;
		padding-right: 20px;
		margin-bottom: 0 !important;
		border-bottom: 1px solid #cacaca !important;
	}
	.form-wrap{
		background: #fff;
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 20px;
		padding-bottom: 1px;
	}
	label{
		display: block;
		font-size: 14px;
		font-weight: 700;
		font-family: $arial;
	}
	input, select{
		width: 100%;
		&:focus, &:active{
			outline: none;
		}
	}
	// .select-wrap{
	// 	position: relative;
	// 	select{
	// 		height: 42px;
	// 		border: 1px solid #d0d6e0;
	// 		@include border-radius(5px);
	// 		padding-left: 8px;
	// 		-webkit-appearance: none;
	// 		-moz-appearance: none;
	// 		-ms-appearance: none;
	// 		appearance: none!important;
	// 		@include transition(all 300ms);
	// 		background: url(../img/sel.png) 95% center no-repeat;
	// 		&:hover{
	// 			background-color: #e4e4e4;
	// 		}
	// 		&:focus, &:active{
	// 			background-color: transparent;
	// 		}
	// 		&::-ms-expand {
	// 		  display: none;
	// 		}
	// 	}
	// }
	select{
		height: 42px;
	}
	input[type="text"]{
		height: 42px;
		border: 1px solid #d0d6e0;
		@include border-radius(5px);
		padding-left: 8px;
		padding-right: 30px;
		position: relative;
	}
	.row{
		>div{
			position: static;
		}
		position: relative;
		margin-bottom: 17px;
		&:last-child{
			margin-bottom: 29px;
		}
	}
	.input-wrap{
		position: relative;
		&:after{
			content: '';
			position: absolute;
			width: 18px;
			height: 18px;
			@include sprite-sprite(incorect);
			right: 9px;
			top: 50%;
			margin-top: -8px;
		}
		&.corect{
			&:after{
				@include sprite-sprite(corect);
			}
		}
		.incorect-span{
			position: absolute;
			font-size: 11px;
			color: #ff2020;
			font-family: $arial;
			bottom: -17px;
		}
	}
	button, button[disabled="true"]{
		border: 0;
		height: 47px;
		background-color: #1F3C6E;
		@include background-image(linear-gradient(to top, #1B3766 0%, #224C91 100%));
		@include border-radius(5px);
		color: #FFF;
		font-family: "Trebuchet MS";
		font-size: 14px;
		font-weight: 700;
		text-transform: uppercase;
		padding-left: 31px;
		padding-right: 31px;
		text-align: center;
		float: right;
		position: absolute;
		bottom: 0;
		@include transition(all 300ms);
		&:hover{
			background-color: #1F3C6E;
			@include background-image(linear-gradient(to top, #1B3766 0%, #1B3766 100%));
		}
	}
	button[disabled="true"]{
		&:hover{
			@include background-image(linear-gradient(to top, #1B3766 0%, #224C91 100%));
		}
		opacity: 0.7;
	}
	button:focus, button:active{
		outline: none;
	}
	.succ-mess{
		text-align: center;
		padding-left: 40px;
		padding-right: 40px;
		position: relative;
		padding-top: 120px;
		&:before{
			content: '';
			position: absolute;
			width: 99px;
			height: 99px;
			@include sprite-sprite(succ);
			top: 0;
			left: 50%;
			margin-left: -50px;
		}
		p{
			font-family: $arial;
			font-weight: 700;
			font-size: 24px;
			color: #545454;
			span{
				display: block;
				font-weight: 400;
				padding-left: 10px;
				padding-right: 10px;
				font-size: 14px;
				font-family: $verdana;
				color: rgba(0,0,0,.65);
				border-top: 1px solid #b9b9b9;
			}
		}
	}

}
.jq-selectbox{
	width: 100%;
	color: #000;
	.jq-selectbox__select{
		height: auto;
		background: none;
		box-shadow: none;
		@include transition(all 300ms);
		border-color: #d0d6e0;
		&:hover{
			background: #e4e4e4;
		}
		.jq-selectbox__select-text{
			line-height: 40px;
			height: 100%;
		}
		.jq-selectbox__trigger{
			border-left: 0;
			.jq-selectbox__trigger-arrow{
				border:0;
				opacity: 1;
				height: 17px;
				width: 9px;
				top: 50%;
				margin-top: -8px;
				@include sprite-sprite(sel);
			}
		}
	}
	.jq-selectbox__dropdown{
		top: 42px;
		box-shadow: none;
		border: 1px solid #d0d6e0;
		ul{
			margin-top: 0 !important;
		}
		li{
			margin-bottom: 0 !important;
			padding: 5px 10px 6px !important;
			&:before{
				display: none !important;
			}
		}
	}
	&.focused{
		.jq-selectbox__select{
			border-color: #d0d6e0;
		}
	}
}

footer{
	margin-top: -221px;
	min-height: 220px;
	padding-top: 20px;
	padding-bottom: 90px;
	background: #1a1b1c;
	font-family: "Trebuchet MS";
	color: #fff;
	.col-xs-6{
		overflow: hidden;
	}
	ul{
		text-align: right;
		list-style: none;
		padding-left: 0;
		li{
			display: inline-block;
			margin-right: 10px;
			&:last-child{
				margin-right: 0;
			}
			a{
				color: inherit;
				line-height: 26px;
				display: inline-block;
				text-decoration: underline;
				&:hover{
					text-decoration: none;
				}
			}
		}
	}
	span{
		font-size: 12px;
		color: #bdc3c7;
	}
	a{
		color: inherit;
		&:hover{
			color: inherit;
		}
	}
	.toup{
		float: left;
		width: 40px;
		height: 40px;
		border: 0;
		background: #1b3766 url(../img/toup.png) no-repeat center;
		border-radius: 4px;
		margin-right: 7px;
		&:focus, &:active{
			outline: none;

		}
	}
	.left-footer{
		padding-left: 12px;
		float: left;
		ul{
			text-align: left;
		}
		.copy{
			font-size: 12px;
			position: relative;
			padding-left: 0;
			position: relative;
			left: -12px;
		}
		p{
			margin-bottom: 4px;
		}
	}
	.footer-logo{
		overflow: hidden;
		padding-top: 10px;
		text-align: right;
		p{
			display: inline-block;
			text-align: left !important;
		}
		a{
			text-transform: uppercase;
			text-decoration: underline;
			&:hover{
				text-decoration: none;
			}
		}
		img{
			display: inline-block;
			margin-right: 20px;
			position: relative;
			top: -10px;
		}
	}
}
.popup.object{
	max-width: 100%;
	width: 486px;
	display: none;
	background:#fdfae9;
	font-family: $verdana;
	border-radius: 5px;
	.title{
		border-radius: 5px 5px 0 0 ;
		background:#fff;
		border-bottom: 1px solid #8a8a85;
		padding: 10px 0;
		font-size: 0;
		h4{
			font-size: 18px;
			color: #535353;
			width: 87%;
			padding:0 15px;
			margin: 0;
			display: inline-block;
			vertical-align: middle;
		}
		.popup-close{
			border:none;
			outline: none;
			vertical-align: middle;
			display: inline-block;
			width: 13%;
			height: 44px;
			background: url(../img/close.png) no-repeat center center;
			opacity: 0.32;
			&:hover{
				opacity: 0.6;
			}
		}
	}
	.body{
		padding: 20px 15px;
		overflow: hidden;
		img{
			float: left;
			max-width: 40%;
			padding-right: 15px;
		}
		p{
			margin-bottom: 0;
			color: #535353;
			line-height: 20px;
			margin-top: -5px;
		}
	}
}
#markerinfo{
	width: 385px;
	background: #fdfae9;
	@include border-radius(5px);
	h4{
		background: #fff;
		margin-top: 0;
		font-family: "Trebuchet MS";
		font-weight: 700;
		padding: 23px 30px 21px 65px;
		margin-bottom: 0;
		position: relative;
		@include border-top-radius(5px);
		border-bottom: 1px solid #8a8a85;
		overflow: hidden;
		&:before{
			content: '';
			left: 26px;
			position: absolute;
			@include sprite-sprite(factory);
			top: 50%;
			margin-top: -8px;
			width: 23px;
			height: 16px;
		}
	}
	#markerinfocontent{
		padding: 12px 24px;
		font-size: 14px;
		font-family: $arial;
		ul{
			overflow: hidden;
			margin-top: 7px;
			margin-bottom: 7px;
			li{
				float: left;
				width: 56%;
				padding-left: 0;
				padding-right: 10px;
				margin-bottom: 2px;
				&:before{
					display: none;
				}
				&:nth-child(even){
					width: 44%;
					padding-right: 0;
				}
			}
		}
	}
	&:after{
		content: '';
		width: 20px;
		height: 17px;
		@include sprite-sprite(markertrian);
		position: absolute;
		bottom: -13px;
		left: 50%;
		margin-left: -10px; 
	}
}
.gm-style-iw{
	top: 0 !important;
	left: 0 !important;
	border: 0 !important;
	overflow: visible !important;
	top: 25px !important;
	left: 15px !important;
}
@media (min-width: 1200px){
	.container {
		width: 970px;
	}
}
@media (max-width: 1199px){
	footer{
		.toup{
			margin-right: 7px;
		}
	}
}
@media (max-width: 991px){
	header{
		h2{
			margin-left: 15px;
		}
	}
	.nav>li>a{
		font-size: 11px !important;
		padding: 0 11px !important;
	}
	footer{
		.left-footer{
			padding-left: 0;
			.copy{
				left: 0;
			}
		}
		.toup{
			display: none;
		}
	}
	.billboard{
		.playarea{
			.aquar-l{
				top: 8px;
				left: -75px;
			}
			.neon-l{
				top: 8px;
				right: -75px;
			}
		}
	}
	.main-content{
		.content-block{
			.cont-wrap {
				#map-canvas{
					height: 430px;
				}
			}
		}
	}

	.main-content .content-block .cont-wrap img{
		max-width: 244px;
	}
	form{
		button{
			position: static;
		}
		.input-wrap, .select-wrap{
			margin-bottom: 20px;
		}
		.row{
			margin-bottom: 0;
		}
	}
}
@media (max-width: 767px){
	header{
		padding-top: 15px;
		padding-bottom: 15px;
		.header-logo{
			float: none;
			margin-bottom: 0;
		}
		h2{
			display: block;
			float: none;
			margin-left: 0;
			margin-top: 5px;
		}
		.header-config{
			display: none;
			// float: none;
		}
	}
	.billboard{
		min-height: 150px;
		&.billboard-small{
			min-height: 1px;
		}
		.navbar{
			margin-bottom: 0;
			min-height: 1px;
			.nav{
				height: auto !important;
				margin: 0 !important;
				a{
					line-height: 33px !important;
					.car{
						// width: 30px;
						// height: 30px;
						float: right;
						margin-top: 13px;

					}
				}
				.dropdown-menu{
					position: static;
					width: 100%;
					padding-top: 0;
					padding-bottom: 0;
					a{
						line-height: 23px !important;
					}
				}
			}
			.navbar-collapse{
				border: 0 !important;
				padding: 0;
			}
		}
		.breadcrumbs{
			display: none;
		}
	}
	.banner-block{
		float: left;
		width: 50%;

	}
	.serts{
		text-align: center;
		a{
			display: inline-block;
			max-width: 175px;
			width: auto;
			float: none;
		}
	}
	.factory-block{
		display: none;
	}
	.main-content{
		.sidebar{
			.form-widget{
				padding-left: 15px;
			}
			&.left-sidebar{
				&:after{
					display: none;
				}
			}
			&.bottom-sidebar{
				.widget{
					.banners{
						a.banner-block{
							padding: 0 15px;
						}
					}
				}
			}
		}
		.cont-wrap {
			#map-canvas{
				height: 330px;
			}
		}
		.content-block{
			.sort{
				.select-wrap{
					float: none;
					display: block;
					min-width: 200px;
					width:100%;
					max-width: 210px;
					&~a{
						text-align: left;
						padding:10px 0;
						height: auto;
						display: block;
					}					
				}
			}
		}
	}
	.main-content .content-block .publishing{
		text-align: center;
		.new-preview-block{
			text-align: left;
		}
		.new-preview-grid-3{
			text-align: left;
			max-width: 220px;
			display: inline-block;
			img{
				max-width: 100%;
			}
		}
		.new-preview-grid-2{
			max-width: 330px;
			display: inline-block;
			text-align: left;
			img{
				max-width: 100%;
			}
		}
	}
	.main-content .content-block .publishing .new-preview-block{

	}
	.main-content .content-block .publishing{
		margin-left: -15px;
  	margin-right: -15px;
	}
	.main-content .content-block ul.pagination{
		display: block;
		overflow: hidden;
		margin-right: auto;
		margin-left: auto;
		text-align: center;
		li{
			margin:3px 0;
			display: inline-block;
			float: none;
			margin-left: 0;
			margin-right: 0;
			a,span{
				vertical-align: middle;
				float: none;
				display: inline-block;
			}
		}
	}
}

@media (max-width: 700px){
	.billboard{
		 .playarea{
		 	background: none;
		 	height: 300px;
		 	.play-btn{
		 		display: none;
		 	}
		 	.aquar-l{
		 		left: 50%;
		 		margin-left: -156px;
		 	}
		 	.neon-l{
		 		top: 92px;
		 		right: 50%;
		 		margin-right: -156px;
		 	}
		 }
	}
	footer{
		padding-top: 30px;
		padding-bottom: 30px;
		.col-xs-6{
			display: block;
			float: none;
			width: 100%;
			text-align: left !important;
		}
		.footer-logo{
			text-align: left;
			p, img{
				float: none;
				display: inline-block;
			}
		}
		ul{
			text-align: left !important;
		}
	}
}

@media (max-width: 440px){
	.banner-block{
		float: none;
		width: 100%; 
		max-width: 212.5px;
		margin-left: auto;
		margin-right: auto;
	}
	.billboard{
		&.nonormalh{
			h1{
				font-size: 33px;
			}
		}
	}
	#markerinfo{
		width: 325px;
	}
	// .main-content{
	// 	 .content-block{
	// 	 	.cont-wrap {
	// 			#map-canvas{
	// 				height: 230px;
	// 			}
	// 		}
	// 	 }
	// }
}
@media (max-width: 400px){
	.main-content .content-block ul.pagination,.main-content .content-block ul.pagination{
		li{
			margin: 3px 0;
			a,span{
				width: 27px;
			}
		}
	}
}
