/* line 10, sass/style.scss */
html, body {
  color: #000;
  background-color: #fff;
  min-height: 100%;
}

/* line 15, sass/style.scss */
h1, h3, h4, h5 {
  color: #000;
  font-family: "Exo 2", sans-serif;
}

/* line 19, sass/style.scss */
a:focus {
  outline: none;
  color: inherit;
  text-decoration: none;
}

/* line 24, sass/style.scss */
.container, header, footer, .billboard {
  min-width: 320px;
}

/* line 27, sass/style.scss */
header {
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
  z-index: 100;
}
/* line 32, sass/style.scss */
header .header-logo {
  float: left;
}
/* line 35, sass/style.scss */
header h2 {
  display: inline-block;
  margin: 13px 0 0;
  float: left;
  margin-left: 30px;
  text-transform: uppercase;
  color: #6c6d6f;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  top: 2px;
  font-weight: 300;
}
/* line 48, sass/style.scss */
header .header-config {
  float: right;
  text-transform: uppercase;
  color: #1b3766;
  position: relative;
  margin-top: 13px;
  font-family: "Trebuchet MS";
  font-weight: 400;
}
/* line 56, sass/style.scss */
header .header-config .car {
  margin-left: 10px;
  display: inline-block;
  width: 14px;
  height: 10px;
  background: url(img/sprite_arrow.png) no-repeat;
  background-position: left -10px !important;
}
/* line 64, sass/style.scss */
header .header-config a {
  color: inherit;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
/* line 68, sass/style.scss */
header .header-config ul {
  display: none;
  list-style: none;
  padding-left: 0;
  position: absolute;
  top: 15px;
  left: -40px;
  right: 0;
  background: rgba(0, 0, 0, 0.39);
  min-width: 183px;
  border-top: 32px solid #fff;
}
/* line 79, sass/style.scss */
header .header-config ul li {
  text-transform: uppercase;
}
/* line 81, sass/style.scss */
header .header-config ul li a {
  display: block;
  line-height: 43px;
  padding-left: 39px;
  color: #1e86bb;
}
/* line 86, sass/style.scss */
header .header-config ul li a:hover {
  color: #ff6000;
  text-decoration: none;
}
/* line 92, sass/style.scss */
header .header-config ul li.active a {
  background: #fff;
}
/* line 96, sass/style.scss */
header .header-config ul li.active:hover a {
  color: inherit;
}
/* line 104, sass/style.scss */
header .col-md-12 {
  overflow: visible;
}
/* line 107, sass/style.scss */
header .navbar-toggle {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0;
  margin-right: 0;
  padding-right: 15px;
}
/* line 114, sass/style.scss */
header .navbar-toggle .icon-bar {
  height: 6px;
  width: 34px;
  margin-bottom: 4px;
  background: #1b3766;
  border-radius: 6px;
}

/* line 123, sass/style.scss */
.clear {
  clear: both;
}

/* line 126, sass/style.scss */
.billboard, .quatest {
  background: #fff no-repeat bottom right;
  background-size: cover;
}

/* line 130, sass/style.scss */
.billboard {
  position: relative;
}
/* line 132, sass/style.scss */
.billboard .navbar {
  border: 0;
  margin-bottom: 40px;
}
/* line 135, sass/style.scss */
.billboard .navbar .navbar-collapse.in {
  overflow-y: visible;
}
/* line 142, sass/style.scss */
.billboard .nav .open > a, .billboard .nav .open > a:hover, .billboard .nav .open > a:focus, .billboard .nav .active.open > a {
  color: #fff;
  background: #1b3766;
  border-color: #264d8f;
}
/* line 147, sass/style.scss */
.billboard .nav > li > a:focus {
  background: transparent;
}
/* line 150, sass/style.scss */
.billboard .nav {
  height: 75px;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.39);
  font-family: "Trebuchet MS";
}
/* line 155, sass/style.scss */
.billboard .nav .car {
  margin-left: 10px;
  display: inline-block;
  width: 14px;
  height: 10px;
  background: url(img/sprite_arrow.png) no-repeat;
}
/* line 163, sass/style.scss */
.billboard .nav > li > a {
  padding: 0 17px;
  line-height: 73px;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  border-top: 2px solid transparent;
}
/* line 172, sass/style.scss */
.billboard .nav > li.active .car {
  background-position: left -20px;
}
/* line 175, sass/style.scss */
.billboard .nav > li.active:hover .car {
  background-position: left top;
}
/* line 178, sass/style.scss */
.billboard .nav > li.active > a {
  background: #ffffff;
  color: #000;
  border-color: #a9acbb;
}
/* line 182, sass/style.scss */
.billboard .nav > li.active > a:hover {
  border-color: #264d8f;
  color: #fff;
  background: #1b3766;
}
/* line 191, sass/style.scss */
.billboard .nav .dropdown-menu {
  padding-top: 15px;
  padding-bottom: 15px;
  background: rgba(27, 55, 102, 0.9);
  border: 0;
  border-radius: 0;
  box-shadow: none;
}
/* line 199, sass/style.scss */
.billboard .nav .dropdown-menu > li > a {
  text-transform: none;
  line-height: 25px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  background: transparent;
}
/* line 206, sass/style.scss */
.billboard .nav .dropdown-menu > li > a:hover {
  background: #1b3766;
}
/* line 213, sass/style.scss */
.billboard .nav a {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: background 300ms, color 300ms;
  -o-transition: background 300ms, color 300ms;
  -webkit-transition: background 300ms, color 300ms;
  transition: background 300ms, color 300ms;
}
/* line 216, sass/style.scss */
.billboard .nav a:hover {
  background: #1b3766;
  border-color: #264d8f;
}
/* line 222, sass/style.scss */
.billboard .breadcrumbs {
  font-family: "Arial", sans-serif;
  font-size: 12px;
}
/* line 225, sass/style.scss */
.billboard .breadcrumbs ul {
  list-style: none;
  padding-left: 0;
  color: #fff;
}
/* line 229, sass/style.scss */
.billboard .breadcrumbs ul li {
  padding-right: 35px;
  background: url(img/bread_arrow.png) no-repeat right center;
  margin-right: 13px;
  display: inline-block;
}
/* line 234, sass/style.scss */
.billboard .breadcrumbs ul li a {
  color: inherit;
  text-decoration: underline;
}
/* line 237, sass/style.scss */
.billboard .breadcrumbs ul li a:hover {
  text-decoration: none;
}
/* line 241, sass/style.scss */
.billboard .breadcrumbs ul li:last-child {
  background: none;
}
/* line 247, sass/style.scss */
.billboard h1 {
  max-width: 790px;
  padding-bottom: 15px;
  position: relative;
  color: #fff;
  font-size: 30px;
  margin-bottom: 50px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.45);
}
/* line 255, sass/style.scss */
.billboard h1:after {
  content: '';
  position: absolute;
  height: 1px;
  left: 0;
  right: 0;
  bottom: 3px;
  background: rgba(255, 255, 255, 0.45);
}

/* line 266, sass/style.scss */
.main-content {
  padding-top: 25px;
  color: #57565b;
  font-size: 14px;
  font-family: "Verdana", sans-serif;
}
/* line 271, sass/style.scss */
.main-content blockquote {
  border-color: #000964;
  background: #ecf0f1;
  font-family: "Arial", sans-serif;
  color: #57565b;
  font-size: 18px;
  margin-bottom: 5px;
  margin-top: 20px;
}
/* line 280, sass/style.scss */
.main-content h3 {
  font-size: 30px;
  margin-top: 0;
}
/* line 284, sass/style.scss */
.main-content h4 {
  font-size: 18px;
}
/* line 289, sass/style.scss */
.main-content .content-block:last-child .cont-wrap {
  border: 0;
}
/* line 293, sass/style.scss */
.main-content .content-block .cont-wrap {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #bdc3c7;
}
/* line 298, sass/style.scss */
.main-content .content-block ul {
  list-style: none;
  padding-left: 0;
  margin-top: 20px;
}
/* line 302, sass/style.scss */
.main-content .content-block ul li {
  margin-bottom: 17px;
  padding-left: 33px;
  position: relative;
}
/* line 306, sass/style.scss */
.main-content .content-block ul li:before {
  content: '';
  position: absolute;
  left: 0;
  top: 10px;
  width: 18px;
  height: 4px;
  display: block;
  background: #a9acbb;
}
/* line 319, sass/style.scss */
.main-content .content-block p {
  line-height: 20px;
  margin-bottom: 15px;
}
/* line 325, sass/style.scss */
.main-content .sidebar h4 {
  margin-top: 0;
  margin-bottom: 0;
}
/* line 329, sass/style.scss */
.main-content .sidebar .banners {
  margin-bottom: 30px;
}
/* line 332, sass/style.scss */
.main-content .sidebar .banner-block {
  display: block;
  position: relative;
  margin-top: 20px;
}
/* line 336, sass/style.scss */
.main-content .sidebar .banner-block .banner-wrap {
  border-radius: 4px;
  overflow: hidden;
}
/* line 340, sass/style.scss */
.main-content .sidebar .banner-block img {
  width: 100%;
  height: auto;
}
/* line 344, sass/style.scss */
.main-content .sidebar .banner-block h4 {
  position: absolute;
  color: #fff;
  top: 18px;
  left: 32px;
  padding-right: 26px;
  background: url(img/banner_link.png) no-repeat right bottom;
}

/* line 355, sass/style.scss */
footer {
  padding-top: 20px;
  padding-bottom: 90px;
  background: #1a1b1c;
  font-family: "Trebuchet MS";
  color: #fff;
}
/* line 361, sass/style.scss */
footer .col-xs-6 {
  overflow: hidden;
}
/* line 364, sass/style.scss */
footer ul {
  text-align: right;
  list-style: none;
  padding-left: 0;
}
/* line 368, sass/style.scss */
footer ul li {
  display: inline-block;
  margin-right: 10px;
}
/* line 371, sass/style.scss */
footer ul li:last-child {
  margin-right: 0;
}
/* line 374, sass/style.scss */
footer ul li a {
  color: inherit;
  line-height: 26px;
  display: inline-block;
  text-decoration: underline;
}
/* line 379, sass/style.scss */
footer ul li a:hover {
  text-decoration: none;
}
/* line 385, sass/style.scss */
footer span {
  font-size: 12px;
  color: #bdc3c7;
}
/* line 389, sass/style.scss */
footer a {
  color: inherit;
}
/* line 391, sass/style.scss */
footer a:hover {
  color: inherit;
}
/* line 395, sass/style.scss */
footer .toup {
  float: left;
  width: 40px;
  height: 40px;
  border: 0;
  background: #1b3766 url(img/toup.png) no-repeat center;
  border-radius: 4px;
  margin-right: 7px;
}
/* line 403, sass/style.scss */
footer .toup:focus, footer .toup:active {
  outline: none;
}
/* line 408, sass/style.scss */
footer .left-footer {
  padding-left: 12px;
  float: left;
}
/* line 411, sass/style.scss */
footer .left-footer ul {
  text-align: left;
}
/* line 414, sass/style.scss */
footer .left-footer .copy {
  font-size: 12px;
  position: relative;
  padding-left: 0;
  position: relative;
  left: -12px;
}
/* line 421, sass/style.scss */
footer .left-footer p {
  margin-bottom: 4px;
}
/* line 425, sass/style.scss */
footer .footer-logo {
  overflow: hidden;
  padding-top: 10px;
  text-align: right;
}
/* line 429, sass/style.scss */
footer .footer-logo p {
  display: inline-block;
  text-align: left !important;
}
/* line 433, sass/style.scss */
footer .footer-logo a {
  text-transform: uppercase;
  text-decoration: underline;
}
/* line 436, sass/style.scss */
footer .footer-logo a:hover {
  text-decoration: none;
}
/* line 440, sass/style.scss */
footer .footer-logo img {
  display: inline-block;
  margin-right: 20px;
  position: relative;
  top: -10px;
}

@media (min-width: 1200px) {
  /* line 449, sass/style.scss */
  .container {
    width: 970px;
  }
}
@media (max-width: 1199px) {
  /* line 455, sass/style.scss */
  footer .toup {
    margin-right: 7px;
  }
}
@media (max-width: 991px) {
  /* line 461, sass/style.scss */
  .nav > li > a {
    font-size: 11px !important;
    padding: 0 11px !important;
  }

  /* line 466, sass/style.scss */
  footer .left-footer {
    padding-left: 0;
  }
  /* line 468, sass/style.scss */
  footer .left-footer .copy {
    left: 0;
  }
  /* line 472, sass/style.scss */
  footer .toup {
    display: none;
  }
}
@media (max-width: 767px) {
  /* line 481, sass/style.scss */
  header .header-logo {
    float: none;
  }
  /* line 484, sass/style.scss */
  header h2 {
    display: block;
    float: none;
    margin-left: 0;
    margin-top: 5px;
  }
  /* line 490, sass/style.scss */
  header .header-config {
    display: none;
  }

  /* line 496, sass/style.scss */
  .billboard .navbar {
    margin-bottom: 0;
    min-height: 1px;
  }
  /* line 499, sass/style.scss */
  .billboard .navbar .nav {
    height: auto !important;
    margin: 0 !important;
  }
  /* line 502, sass/style.scss */
  .billboard .navbar .nav a {
    line-height: 33px !important;
  }
  /* line 504, sass/style.scss */
  .billboard .navbar .nav a .car {
    float: right;
    margin-top: 13px;
  }
  /* line 512, sass/style.scss */
  .billboard .navbar .nav .dropdown-menu {
    position: static;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
  }
  /* line 517, sass/style.scss */
  .billboard .navbar .nav .dropdown-menu a {
    line-height: 23px !important;
  }
  /* line 522, sass/style.scss */
  .billboard .navbar .navbar-collapse {
    border: 0 !important;
    padding: 0;
  }
  /* line 527, sass/style.scss */
  .billboard .breadcrumbs {
    display: none;
  }

  /* line 531, sass/style.scss */
  .banner-block {
    float: left;
    width: 50%;
  }
}
@media (max-width: 700px) {
  /* line 539, sass/style.scss */
  footer {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  /* line 542, sass/style.scss */
  footer .col-xs-6 {
    display: block;
    float: none;
    width: 100%;
    text-align: left !important;
  }
  /* line 548, sass/style.scss */
  footer .footer-logo {
    text-align: left;
  }
  /* line 550, sass/style.scss */
  footer .footer-logo p, footer .footer-logo img {
    float: none;
    display: inline-block;
  }
  /* line 555, sass/style.scss */
  footer ul {
    text-align: left !important;
  }
}
@media (max-width: 440px) {
  /* line 562, sass/style.scss */
  .banner-block {
    float: none;
    width: 100%;
  }
}
