/* line 9, sass/style.scss */
html, body {
  color: #000;
  background-color: #fff;
  min-height: 100%;
}

/* line 14, sass/style.scss */
h3, h4, h5 {
  font-family: "Exo 2", sans-serif;
}

/* line 17, sass/style.scss */
a:focus {
  outline: none;
  color: inherit;
  text-decoration: none;
}

/* line 22, sass/style.scss */
header {
  padding-top: 15px;
  padding-bottom: 15px;
  overflow: hidden;
}
/* line 26, sass/style.scss */
header h2 {
  display: inline-block;
  margin: 0;
  margin-left: 30px;
  text-transform: uppercase;
  color: #6c6d6f;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  top: 2px;
  font-weight: 300;
}
/* line 38, sass/style.scss */
header .header-config {
  float: right;
  text-transform: uppercase;
  color: #2a4470;
  position: relative;
  margin-top: 13px;
}
/* line 44, sass/style.scss */
header .header-config a {
  color: inherit;
}
/* line 47, sass/style.scss */
header .header-config ul {
  display: none;
  list-style: none;
  padding-left: 0;
}
/* line 51, sass/style.scss */
header .header-config ul li {
  text-transform: uppercase;
}

/* line 57, sass/style.scss */
.billboard, .quatest {
  background: url(img/quatestbg.jpg) no-repeat bottom right;
  background-size: cover;
}

/* line 61, sass/style.scss */
.billboard {
  position: relative;
}
/* line 63, sass/style.scss */
.billboard .container {
  min-height: 290px;
}
/* line 66, sass/style.scss */
.billboard .nav .open > a, .billboard .nav .open > a:hover, .billboard .nav .open > a:focus, .billboard .nav .active.open > a {
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  border-color: transparent;
}
/* line 71, sass/style.scss */
.billboard .nav > li > a:focus {
  background: transparent;
}
/* line 74, sass/style.scss */
.billboard .nav {
  height: 75px;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.3);
}
/* line 79, sass/style.scss */
.billboard .nav > li > a {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 73px;
  color: #fff;
  border-top: 2px solid transparent;
}
/* line 87, sass/style.scss */
.billboard .nav > li.active a {
  background: #ffffff;
  color: #000;
  border-color: #a9acbb;
}
/* line 91, sass/style.scss */
.billboard .nav > li.active a:hover {
  border-color: transparent;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
}
/* line 98, sass/style.scss */
.billboard .nav a {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
/* line 101, sass/style.scss */
.billboard .nav a:hover {
  background: rgba(0, 0, 0, 0.6);
}
